.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.select{
    background-color: #FFF;
}
option{
    background-color: #222;
}
.mainOption{
    color: gray;
}