*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #222;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 90vw;
    
}

@media (max-width: 500px){
    .app{
        width: 100%;
    }
}