*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #222;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
}

.app{
    border: 1px solid black;
}